<h2>{{text[translateService.languageId].contact}}</h2>
<h4>{{text[translateService.languageId].Hotline}}</h4>

<div class="row">
    <img src="../../assets/img/phone_png.png" alt=""> <span class="number" >8 707 927 32 31</span>
    <img class="img2" src="../../assets/img/phone_png.png" alt=""> <span class="number" >8 707 927 32 31</span>
</div>

<table>
    <tr>
        <td>
            <span>-</span><br>
            <p>info_apple2023@mail.ru</p>
        </td>
        <td>
            <span>{{text[translateService.languageId].hr}}</span><br>
            <p>hr_apple2023@mail.ru</p>
        </td>
        <td>
            <span>{{text[translateService.languageId].delivery}}</span><br>
            <p>delivery_apple2023@mail.ru</p>
        </td>
        <td>
            <span>{{text[translateService.languageId].marketing}}</span><br>
            <p>marketing_apple2023@mail.ru</p>
        </td>
    </tr>
    <tr>
        <td class="accounting">
            <span>{{text[translateService.languageId].accounting}}</span><br>
            <p>accounting_apple2023@mail.ru</p>
        </td>
    </tr>
</table>

<app-footer></app-footer>