<h2>{{text[translateservice.languageId].condition}}</h2><br>
<p>{{text[translateservice.languageId].condition_1}}</p>
<p>{{text[translateservice.languageId].condition_2}}</p>
<p>{{text[translateservice.languageId].condition_3}}</p><br><br>

<h2>{{text[translateservice.languageId].price}}</h2>
<p>{{text[translateservice.languageId].price_1}}</p>
<p>{{text[translateservice.languageId].price_2}}</p><br><br>

<h2>{{text[translateservice.languageId].refund}}</h2>
<p>{{text[translateservice.languageId].refund_1}}</p>
<p>{{text[translateservice.languageId].refund_2}}</p>
<p>{{text[translateservice.languageId].refund_3}}</p>
<p>{{text[translateservice.languageId].refund_4}}</p><br><br>

<app-footer></app-footer>

