h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;

    margin-left: 20px;
    margin-top: 60px;
}

  
  .slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: -62px;
  }
  
  .slides-container {
    display: flex;
    transition: all 0.5s ease-in-out;
    height: 350px;
  }
  
  .slide {
    flex: 0 0 20%;
    padding: 10px;
    position: relative;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
  }

  
  .hits_png {
    border-radius: 25px;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 280px;
  }
  .block {
    position: absolute;
    background-color: #f0f0f0;
    padding: 10px;
    width: 210px;
    border-radius: 5px;
  }
  
  .block p {
    margin-bottom: 0;
  }
  
  button {
    background-color: #07AF49;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: space-between;
  }
  
h3, .controls {
    display: inline-block;
    vertical-align: top;
  }


  .next {
    margin-left: 800px;
    margin-top: -33px;
  }

  .prev {
    margin-left: 750px;
    margin-top: -55px;
  }
  
  button:hover {
    background-color: #05df5c;
  }
  
  .slide .caption {
    height: 140px; /* фиксированная высота */
    overflow: hidden;
  }

  .price {
    margin-top: -5px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #4f4f4f!important;
    display: -webkit-box;
    font-size: 19px;
    overflow: hidden;
    font-weight: 600;
    height: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
  }

  .description {
    height: 50px;
  }
  .minus,
  .plus,
  .quantity{
    display: inline-block;
    margin-top: -30px;
  }
  .description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    color: #4f4f4f;
    width: 200px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    cursor: pointer;
    height: 33px;
  }

.description:hover {
  color: #07AF49;
}  