.row {
    margin-left: 350px;
    margin-top: 50px;
}

.btn{
    background-color: #07AF49;
}
.btn{
    margin-left: 130px;
    border: #07AF49;
}
input:focus {
    border-color: green;
  }
  
.username {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.password {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}  
.email {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}